@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="header">
        <p>Happiness: @ViewBag.Happiness</p>
        <p>Fullness: @ViewBag.Fullness</p>
        <p>Energy: @ViewBag.Energy</p>
        <p>Meals: @ViewBag.Meals</p>
    </div>
    <div class="content">
    </div>
    <div class="footer">
        <a href="/feed"><button>Feed</button></a>
        <a href="/play"><button>Play</button></a>
        <button>Work</button>
        <button>Sleep</button>
    </div>
    <div>
        <a href="/restart"><button>RESET</button></a>
    </div>
</div>

