<h3>All Users:</h3>
@model Message;
<form asp-action="AddMessage" method="post">
    <Textarea asp-for="Content"></Textarea>
    <button>Create Message</button>
</form>
@{
    foreach (User u in ViewBag.AllUsers)
    {
        <p>@u.Name</p>
        <p>@u.Email</p>
        foreach (Message msg in u.CreatedMessages){
            <p>@msg.Content</p>
        }
    }
}