@{
    ViewData["Title"] = "Form";
}
<form action="formSubmit" method="post">
    <label>Text: </label>
    <input type="text" name="TextField">
    <label>Number: </label>
    <input type="number" name="NumberField">
    <button>Submit</button>
</form>